# Data Preprocessing

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

### Features Scaling

In [3]:
df = sns.load_dataset('mpg')
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [4]:
df.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

### Note that all the features are of different scale, weight is in thousands and horsepower is around 100

### Some model may not be smart enough and mistakenly assume weight is a more important factor simply because they are huge number and therefore a small change in weight may give arise to a bigger impact in the target variable

### One may want to "standardize" all features to be around the same magnitude. To do that we use the StandardScalar

In [20]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [9]:
numerical_features = df[["cylinders","displacement","horsepower","weight", "acceleration"]]
numerical_features.head()

   cylinders  displacement  horsepower  weight  acceleration
0          8         307.0       130.0    3504          12.0
1          8         350.0       165.0    3693          11.5
2          8         318.0       150.0    3436          11.0
3          8         304.0       150.0    3433          12.0
4          8         302.0       140.0    3449          10.5

In [13]:
scaler = StandardScaler()
normalized_df = scaler.fit_transform(numerical_features)
normalized_df = pd.DataFrame(normalized_df, columns = ["cylinders","displacement","horsepower","weight", "acceleration"] )
normalized_df.head()

   cylinders  displacement  horsepower    weight  acceleration
0   1.498191      1.090604    0.664133  0.630870     -1.295498
1   1.498191      1.503514    1.574594  0.854333     -1.477038
2   1.498191      1.196232    1.184397  0.550470     -1.658577
3   1.498191      1.061796    1.184397  0.546923     -1.295498
4   1.498191      1.042591    0.924265  0.565841     -1.840117

In [14]:
normalized_df.describe()

          cylinders  displacement    horsepower        weight  acceleration
count  3.980000e+02  3.980000e+02  3.920000e+02  3.980000e+02  3.980000e+02
mean  -5.171742e-16 -8.312725e-17 -4.392745e-16 -9.902743e-17  8.982206e-17
std    1.001259e+00  1.001259e+00  1.001278e+00  1.001259e+00  1.001259e+00
min   -1.444949e+00 -1.204411e+00 -1.520975e+00 -1.604943e+00 -2.747814e+00
25%   -8.563206e-01 -8.563178e-01 -7.665929e-01 -8.828266e-01 -6.328794e-01
50%   -8.563206e-01 -4.314040e-01 -2.853488e-01 -1.973624e-01 -2.472221e-02
75%    1.498191e+00  6.584879e-01  5.600800e-01  7.538337e-01  5.834349e-01
max    1.498191e+00  2.511784e+00  3.265452e+00  2.565185e+00  3.351912e+00

### Now all features has mean of 0 and standard deviation of 1

In [21]:
minMaxScaler = MinMaxScaler()
minMax_df = minMaxScaler.fit_transform(numerical_features)
minMax_df = pd.DataFrame(minMax_df, columns = ["cylinders","displacement","horsepower","weight", "acceleration"] )
minMax_df.head()

   cylinders  displacement  horsepower    weight  acceleration
0        1.0      0.617571    0.456522  0.536150      0.238095
1        1.0      0.728682    0.646739  0.589736      0.208333
2        1.0      0.645995    0.565217  0.516870      0.178571
3        1.0      0.609819    0.565217  0.516019      0.238095
4        1.0      0.604651    0.510870  0.520556      0.148810

In [22]:
minMax_df.describe()

        cylinders  displacement  horsepower      weight  acceleration
count  398.000000    398.000000  392.000000  398.000000    398.000000
mean     0.490955      0.324098    0.317768    0.384867      0.450482
std      0.340201      0.269431    0.209191    0.240103      0.164148
min      0.000000      0.000000    0.000000    0.000000      0.000000
25%      0.200000      0.093669    0.157609    0.173164      0.346726
50%      0.200000      0.208010    0.258152    0.337539      0.446429
75%      1.000000      0.501292    0.434783    0.565637      0.546131
max      1.000000      1.000000    1.000000    1.000000      1.000000

## Categorical Variables